@model online_doctor.Models.Appointment

@{
    ViewData["Title"] = "AppointmentDetail";
}

<h2>Детали записи</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FIO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FIO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppointmentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppointedStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppointedStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppointedEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppointedEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReasonAppointment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReasonAppointment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PayedFor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PayedFor)
        </dd>
    </dl>

    @Html.ActionLink("Выгрузить в Excel", "GetAppointmentDetailsInExcel", new { appointmentId = Model.AppointmentId }, new { @class = "btn btn-info" })

    @if (ViewBag.RoleID == 2 && !Model.PayedFor)
    {
        @Html.ActionLink("Оплатить приём", "SetPayment", "Home", new { appointmentId = Model.AppointmentId }, new { @class = "btn btn-info" })
    }
</div>
<div>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>
