@model IEnumerable<online_doctor.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h2>Здравствуйте, @ViewBag.Login!</h2>

@if (ViewBag.RoleID == 3)
{
    @Html.ActionLink("Изменить информацию", "ChangeDoctorInformation", "PersonalAccount", new { doctorId = ViewBag.userID }, new { @class = "btn btn-success" })
    @Html.ActionLink("Изменить расписание", "ChangeDoctorShedule", "PersonalAccount", new { doctorId = ViewBag.userID }, new { @class = "btn btn-success" })
}

@Html.ActionLink("База знаний", "Index", "Article", new { }, new { @class = "btn btn-success" })

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointedStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointedEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayedFor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointedStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointedEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayedFor)
                </td>
                <td>
                    @Html.ActionLink("Details", "AppointmentDetail", new { AppointmentId = item.AppointmentId }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </tbody>
</table>
