@model IEnumerable<online_doctor.Models.Doctor>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorType)
            </td>
            <td>
                @Html.ActionLink("Details", "Edit", null, new { @class = "btn btn-outline-success" })
            </td>
        </tr>
}
    </tbody>
</table>
