@model IEnumerable<online_doctor.Models.Doctor>

@{
    ViewData["Title"] = "Index";
}

@using (Html.BeginForm("SortDoctor", "Home"))
{
    @Html.DropDownList("doctorTypeId", ViewBag.doctorSpecializations as SelectList)
    @Html.DropDownList("sortTypeId", ViewBag.sortTypes as SelectList)
    <input type="submit" value="Отправить" />
}

@if (ViewBag.RoleID == 1)
{
    @Html.ActionLink("Admin panel", "Index", "Admin", new { }, new { @class = "btn btn-success" })
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating) / 5
                </td>
                <td>
                    @Html.ActionLink("More", "More", "Home", new { doctorId = item.DoctorId }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </tbody>
</table>
